body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    color: #444;
    margin-top: 40px;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: #666;
    margin-bottom: 10px;
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.chart-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.chart-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.chart-box canvas {
    width: 100% !important;
    height: auto !important;
}

.details-panel {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 40px;
}

details {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 10px;
}

.game-embed {
    text-align: center;
    width:354px;
    height:354px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .chart-box {
        padding: 15px;
    }

    .chart-box canvas {
        width: 100% !important;
        height: 250px !important;
    }
}

.no-data {
    text-align: center;
    background-color: #FFF9E6;
    color: #FF8C00;
    border: 1px solid #FF8C00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.0em;
    width: 30%;
    margin: 0 auto; /* Center horizontally */
}

.no-data p {
    margin: 0;
    font-weight: 500;
}